* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	font-family: "Audiowide", sans-serif;
	background-repeat: no-repeat;
    	background-position: center;
 	background-attachment: fixed;
  	background-size: cover;
	height: 100vh;
	

}

.page1h1 {
	color: #9B111E;
	font-size: 4rem;
	text-shadow: 2px 2px black;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;	
}

.logo1 {
	box-shadow: 2px 2px black;
	width: 4rem;
	margin: 1rem;
	border-style: outset;
	border-color: red;
}

.loginbody {	
 	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-height: 80vh;
  	padding: 1rem;
}

.loginbox {
	background: linear-gradient(135deg, black 0%, #FF0000 100%);
	width: 100%;
	max-width: 460px;
	border-radius: 0.75rem;
	box-shadow: 2px 2px black;
}

.loginbox:hover {
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.loginlayer1 {
	text-align: center;
	margin: 1.5rem;
	color: white;
	text-shadow: 1px 1px black;
	
}

.loginuser {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	color: red;
}

.loginpass {
	color: red;
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

.userbox {
	border-style: inset;
	border-radius: .5rem;
	height: 2rem;
}

.passbox {
	border-style: inset;
	border-radius: .5rem;
	height: 2rem;
}

.rembme {
	color: white;
}

a{
	color: white;
	transition: color 0.2s;
}

a:hover {
	color: red;
}

.loginlayer2 {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
}

.buttons {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.loginbtn {
	text-align: center;
	
}

.btnsubmit {
	color: red;
	margin: .5rem;
	background: #722F37;
	border-radius: .5rem;
}

.logintext {
	font-size: 1.5rem;
	margin: 8rem;
	text-decoration: none;
	font-weight: 600;
}

.buttons .btngoogle {
	color: white;
	margin: .5rem;
	border-radius: .5rem;
	height: 2.5rem;
	background: #EA4335;
}

.buttons .btnfb {
	color: white;
	margin: .5rem;
	border-radius: .5rem;
	height: 2.5rem;
	background: #1877F2;
}

.buttons .btngit {
	color: white;
	margin: .5rem;
	border-radius: .5rem;
	height: 2.5rem;
	background: black;
}

.signup {
	text-align: center;
	margin: 1.5rem;

}

.line {
	margin: .5rem;
}







@media (max-width: 768px) {
	.logo1 {
	box-shadow: 2px 2px black;
	width: 8rem;
	margin: 1rem;
	border-style: outset;
	border-color: red;
}

}

@media (max-width: 500px) {
	.page1h1 {
	color: #9B111E;
	font-size: 2.7rem;
	text-shadow: 2px 2px black;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;	
}
	.logo1 {
	box-shadow: 2px 2px black;
	width: 5.5rem;
	margin: .5rem;
	border-style: outset;
	border-color: red;
}

}



